#game-canvas-container {
	text-align: center;
	width: 1000px;
	height: 550px;
	position: relative;
	margin: auto;
	top: 20px;
}

#game-canvas {
	background-color: #000;
	position: absolute;
	left: 0;
	top: 0;
	border: 2px solid #fff;
}

#lag {
	position: absolute;
	right: 50px;
	top: 50px;
	font-weight: 700;
	font-size: 18px;
	color: #fff;
}

.overlay {
	background-color: #000;
	opacity: 0.3;
	height: 100%;
	width: 100%;
	z-index: 10;
}

#game-over-modal {
	background-color: #333;
	height: 70%;
	width: 70%;
	padding: 30px;
	border-radius: 5px;
	z-index: 100;

	.place-sentence {
		margin-top: 30px;
		margin-left: 30px;
		font-size: 22px;
	}

	.ranking {
		font-size: 24px;
		margin-top: 30px;
		margin-left: 30px;

		li {
			margin-top: 12px;
			width: 400px;

			.prize {
				font-size: 24px;
				font-weight: 200;
				float: right;

				.coin {
					display: inline-block;
					background: url('../assets/coin.svg') no-repeat top left;
					background-size: contain;
					width: 28px;
					height: 28px;
					margin-left: 8px;
					vertical-align: middle;
				}
			}
		}
	}

	.rating-change {
		display: inline-block;
		font-size: 32px;
		margin-left: 50%;
		margin-top: 50px;
		transform: translateX(-50%);
	}

	.play-again-btn {
		display: inline-block;
		padding: 10px 20px;
		border-radius: 3px;
		font-size: 20px;
		margin-top: 40px;
		margin-left: 50%;
		transform: translateX(-50%);
	}
}