.place-sentence {
	margin-top: 30px;
	margin-left: 30px;
}

.ranking {
	font-size: 20px;
	margin-top: 30px;
	margin-left: 30px;

	li {
		margin-top: 5px;

		.prize {
			padding: 20px;
			font-size: 26px;
			font-weight: 200;

			.coin {
				display: inline-block;
				background: url('../assets/coin.svg') no-repeat top left;
				background-size: contain;
				width: 34px;
				height: 34px;
				margin-left: 12px;
				margin-bottom: 8px;
				vertical-align: middle;
			}
		}
	}
}

.rating-change {
	display: inline-block;
	font-size: 30px;
	margin-left: 50%;
	transform: translateX(-50%);
}

.play-again-btn {
	display: inline-block;
	padding: 10px 20px;
	border-radius: 3px;
	font-size: 20px;
	margin-top: 40px;
	margin-left: 50%;
	transform: translateX(-50%);
}