.game-btns-container {	
	position: absolute;
	top: 25%;
	left: 50%;
	transform: translateX(-50%);

	.ffa-btn,
	.team-btn {
		width: 200px;
		height: 320px;
		border-radius: 5px;
		background-color: #6187a9;
		color: white;
		border: none;
		font-size: 22px;
		position: relative;
		border: 1px solid #444;

		&:hover {
			cursor: pointer;
			background-color: $bluish-hover;
			border: 1px solid $bluish-hover;
		}

		.caption {
			position: absolute;
			bottom: 0;
			width: 100%;
			padding: 20px;
		}
	}

	.ffa-btn {
		margin-right: 90px;
		background: url('../assets/pl_ffa.svg') no-repeat top left;
		background-size: contain;
	}

	.team-btn {
		background: url('../assets/pl_team.svg') no-repeat top left;
		background-size: contain;
	}
}

.statistics-btns-container {	
	position: absolute;
	top: 70%;
	left: 50%;
	transform: translateX(-50%);

	.upgrades-btn,
	.leaderboard-btn {
		padding: 8px 12px;
		border-radius: 4px;
		color: white;
		border: none;
		font-size: 16px;
		margin-top: 40px;
	}

	.upgrades-btn {
		margin-right: 40px;
	}
}

.upgrades-bar {
	width: 80%;
	height: 92%;
	background-color: #222;
	border-radius: 0 0 22px 22px;
	color: #fff;
	font-variant: small-caps;
	text-align: center;
	padding: 25px;
	margin-left: 50%;
	transform: translate(-50%, -100%);
	transition: transform 1s;

	.upgrades-bar-header {
		font-size: 34px;
	}

	.upgrades {
		margin-top: 25px;
		padding: 10px;
		width: 60%;
		height: 90%;
		border-right: 1px solid #111;
		float: left;

		.upgrade {
			border: 2px solid #555;
			border-radius: 4px;
			display: inline-block;
			width: 140px;
			padding: 10px;
			height: 140px;
			line-height: 140px;
			margin: 13px;
			float: left;
			position: relative;

			&:hover {
				cursor: pointer;
				border: 2px solid $bluish-hover;
			}

			img {
				height: 100%;
				width: 100%;
			}

			.upgrade-level {
				display: inline-block;
				height: auto;
				line-height: normal;
				position: absolute;
				right: 6px;
				bottom: 6px;
				font-size: 23px;
			}
		}
	}

	.upgrades-info {
		display: inline-block;
		width: 30%;
		margin-top: 40px;

		.upgrade-name {
			font-size: 28px;
		}

		.upgrade-icon {
			margin-top: 30px;
			padding: 25px;
		}

		.upgrade-description {
			margin-top: 10px;
			padding: 10px 20px;
			font-variant: normal;
			font-size: 20px;
			font-weight: 200;
		}

		.upgrade-cost {
			padding: 20px;
			font-size: 28px;
			font-weight: 200;

			.coin {
				display: inline-block;
				background: url('../assets/coin.svg') no-repeat top left;
				background-size: contain;
				width: 38px;
				height: 38px;
				margin-left: 12px;
				margin-bottom: 8px;
				vertical-align: middle;
			}
		}

		.buy-btn {
			font-size: 23px;
			font-variant: normal;
			border-radius: 5px;
			padding: 12px 34px;
			display: inline-block;
			letter-spacing: 1px;

			&.disabled {
				background-color: #555;
			}
		}
	}

	.close {
		position: absolute;
		bottom: 10px;
		padding: 10px;
		margin-left: 50%;
		transform: translateX(-50%);

		&:hover {
			cursor: pointer;
		}
	}
}