.logout-btn {
	position: absolute;
	right: 30px;
	top: 30px;
	padding: 8px 12px;
	border-radius: 4px;
	color: white;
	border: none;
	font-size: 16px;
}

.game-btns-container {	
	position: absolute;
	top: 25%;
	left: 50%;
	transform: translateX(-50%);

	.ffa-btn,
	.team-btn {
		display: inline-block;
		width: 230px;
		height: 300px;
		border-radius: 7px;
		background-color: #315779;
		color: white;
		position: relative;
		padding: 20px 15px 35px;

		&:hover {
			cursor: pointer;
			background-color: #517799;
		}

		.caption {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			text-align: center;
			padding: 10px;
			font-size: 22px;
		}

		img {
			height: 100%;
			width: 100%;
		}
	}

	.ffa-btn {
		margin-right: 90px;
	}
}

.statistics-btns-container {	
	position: absolute;
	top: 70%;
	left: 50%;
	transform: translateX(-50%);

	.upgrades-btn,
	.leaderboard-btn {
		padding: 8px 12px;
		border-radius: 4px;
		color: white;
		border: none;
		font-size: 16px;
		margin-top: 40px;
	}

	.upgrades-btn {
		margin-right: 40px;
	}
}

.upgrades-bar {
	width: 80%;
	height: 92%;
	background-color: #333;
	border-radius: 0 0 22px 22px;
	color: #fff;
	font-variant: small-caps;
	text-align: center;
	padding: 25px;
	margin-left: 50%;
	transform: translate(-50%, -100%);
	transition: transform 1s;

	.upgrades-bar-header {
		font-size: 34px;
	}

	.player-coins {
		font-size: 20px;

		.coin {
			display: inline-block;
			background: url('../assets/coin.svg') no-repeat top left;
			background-size: contain;
			width: 26px;
			height: 26px;
			margin-left: 8px;
			margin-bottom: 2px;
			vertical-align: middle;
		}
	}

	.upgrades {
		margin-top: 25px;
		width: 60%;
		height: 82%;
		border-right: 1px solid #111;
		float: left;
		overflow-y: scroll;

		.upgrade {
			border: 2px solid #555;
			border-radius: 4px;
			display: inline-block;
			width: 120px;
			padding: 10px;
			height: 120px;
			line-height: 120px;
			margin: 12px;
			float: left;
			position: relative;

			&:hover {
				cursor: pointer;
				border: 2px solid $bluish-hover;
			}

			img {
				height: 100%;
				width: 100%;
			}

			.upgrade-level {
				display: inline-block;
				height: auto;
				line-height: normal;
				position: absolute;
				right: 6px;
				bottom: 6px;
				font-size: 23px;
			}
		}
	}

	.upgrades-info {
		display: inline-block;
		width: 30%;
		margin-top: 30px;

		.upgrade-name {
			font-size: 28px;
		}

		.upgrade-icon {
			margin-top: 25px;
			padding: 20px 25px;
			height: 160px;

			img {
				max-height: 100%;
				max-width: 100%;
			}
		}

		.upgrade-description {
			margin-top: 10px;
			padding: 10px 20px;
			font-variant: normal;
			font-size: 19px;
			font-weight: 200;
		}

		.upgrade-cost {
			padding: 10px 20px;
			margin-top: 6px;
			font-size: 26px;
			font-weight: 200;

			.coin {
				display: inline-block;
				background: url('../assets/coin.svg') no-repeat top left;
				background-size: contain;
				width: 36px;
				height: 36px;
				margin-left: 12px;
				margin-bottom: 8px;
				vertical-align: middle;
			}
		}

		.buy-btn {
			font-size: 19px;
			font-variant: normal;
			border-radius: 5px;
			padding: 8px 25px;
			display: inline-block;
			letter-spacing: 1px;

			&.disabled {
				background-color: #555;
			}
		}
	}
}