.game-btns-container {	
	position: absolute;
	top: 25%;
	left: 50%;
	transform: translateX(-50%);

	.ffa-btn,
	.team-btn {
		width: 150px;
		height: 240px;
		border-radius: 5px;
		background-color: #6187a9;
		color: white;
		border: none;
		font-size: 22px;
		position: relative;
		border: 1px solid #444;

		&:hover {
			cursor: pointer;
			background-color: $bluish-hover;
			border: 1px solid $bluish-hover;
		}

		.caption {
			position: absolute;
			bottom: 0;
			width: 100%;
			padding: 15px;
		}
	}

	.ffa-btn {
		margin-right: 90px;
		background: url('../assets/pl_ffa.svg') no-repeat top left;
		background-size: contain;
	}

	.team-btn {
		background: url('../assets/pl_team.svg') no-repeat top left;
		background-size: contain;
	}
}

.statistics-btns-container {	
	position: absolute;
	top: 70%;
	left: 50%;
	transform: translateX(-50%);

	.upgrades-btn,
	.leaderboard-btn {
		padding: 8px 12px;
		border-radius: 4px;
		background-color: $bluish;
		color: white;
		border: none;
		font-size: 16px;
		margin-top: 40px;

		&:hover {
			cursor: pointer;
			background-color: $bluish-hover;
		}
	}

	.upgrades-btn {
		margin-right: 40px;
	}
}

.upgrades-bar {
	width: 50%;
	height: 90%;
	background-color: #222;
	border-radius: 0 0 22px 22px;
	color: #fff;
	font-size: 28px;
	font-variant: small-caps;
	text-align: center;
	padding: 20px;
	margin-left: 50%;
	transform: translate(-50%, -100%);
	transition: transform 1s;

	.upgrades {
		margin-top: 20px;
		padding: 10px;

		.upgrade {
			border: 2px solid #555;
			border-radius: 4px;
			display: inline-block;
			width: 100px;
			height: $upgrade-height;
			line-height: $upgrade-height;
			margin: 20px;
			float: left;
		}
	}

	.close {
		position: absolute;
		bottom: 10px;
		padding: 10px;
		margin-left: 50%;
		transform: translateX(-50%);

		&:hover {
			cursor: pointer;
		}
	}
}