.leaderboard {
	color: #fff;
	font-size: 22px;
	margin: 30px auto 0px auto;
	width: 60%;

	.player {
		display: flex;
		margin-bottom: 8px;
		line-height: 50px;
		border: 1px solid #ddd;
		border-radius: 5px;
		padding: 10px 4px;

		&:hover {
			cursor: pointer;
		}

		.place {
			width: 15%;
			text-align: center;

			img {
				max-height: 50px;
				vertical-align: middle;
			}
		}

		.name {
			width: 50%;
			text-align: left;
		}

		.country {
			width: 20%;
			vertical-align: middle;
			text-align: center;

			.flag-icon {
				height: 26px;
				width: 32px;
			}
		}

		.rating {
			width: 20%;
			text-align: center;
		}
	}
}