.leaderboard {
	color: #fff;
	font-size: 20px;
	margin: 0 auto;
	width: 60%;

	.player {
		display: flex;
		margin-bottom: 8px;
		line-height: $badge-size;
		border: 1px solid #ddd;
		border-radius: 5px;
		padding: 7px;

		.place {
			width: 20%;
			text-align: center;

			img {
				max-height: $badge-size;
				vertical-align: middle;
			}
		}

		.name {
			width: 50%;
			text-align: left;
		}

		.rating {
			width: 30%;
			text-align: center;
		}
	}
}