#bgVideo {
	position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
}

.main-header {
	position: absolute;
	font-size: 60px;
	text-align: center;
	margin-top: 100px;
	width: 100%;
	color: white;
}

#login-form,
#register-form {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	input[type='text'] {
		padding: 7px;
		border-radius: 2px;
		border: 1px solid $dark-gray;
		font-size: 16px;
	}

	.login-btn,
	.register-btn {
		padding: 8px 12px;
		border-radius: 4px;
		background-color: $bluish;
		color: white;
		border: none;
		font-size: 16px;

		&:hover {
			cursor: pointer;
		}
	}
}

.register-btn-link,
.login-btn-link {
	position: absolute;
	top: 70%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 8px 12px;
	border-radius: 4px;
	background-color: $bluish;
	color: white;
	border: none;
	font-size: 16px;

	&:hover {
		cursor: pointer;
	}
}