#bgVideo {
	position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
}

.main-header {
	position: absolute;
	font-size: 60px;
	text-align: center;
	margin-top: 100px;
	width: 100%;
	color: white;
}

#login-form,
#register-form {
	position: absolute;
	top: 48%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;

	input[type='text'] {
		display: block;
		padding: 12px 20px;
		border-radius: 30px;
		border: 2px solid #eee;
		color: #eee;
		font-size: 18px;
		margin-bottom: 20px;
		background-color: #111;

		&::placeholder {
			color: #eee;
			opacity: 1;
		}
	}

	.login-btn,
	.register-btn {
		margin-top: 20px;
		padding: 12px 30px;
		border-radius: 30px;
		color: white;
		border: none;
		font-size: 18px;
		letter-spacing: 1px;
	}
}

.register-btn-link,
.login-btn-link {
	position: absolute;
	top: 78%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 12px 16px;
	border-radius: 4px;
	color: white;
	border: none;
	font-size: 18px;
}