@import url('https://fonts.googleapis.com/css?family=Lato|Roboto');

$font-main: 'Roboto', sans-serif;
$bgc-main: #000;
$dark-gray: #888;
$bluish: #37c;
$bluish-hover: #59d;
$upgrade-height: 100px;
$badge-size: 35px;