$mainFont: 'Arial';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: $mainFont;
}

#gameCanvas {
	display: block;
	background-color: #000;
}

#lag {
	position: absolute;
	right: 50px;
	top: 50px;
	font-weight: 700;
	font-size: 18px;
	color: #fff;
}