* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Arial';
	color: white;
}

body {
	padding: 100px 50px;
	background-color: #000;
}

.ranking {
	list-style-type: none;
	font-size: 20px;
	margin-top: 30px;
}

.ranking li {
	margin-top: 5px;
}

.rating-change {
	display: inline-block;
	font-size: 30px;
	margin-left: 50%;
	transform: translateX(-50%);
}

.play-again-btn {
	display: inline-block;
	padding: 10px 20px;
	background-color: #37c;
	border-radius: 3px;
	font-size: 20px;
	margin-top: 40px;
	margin-left: 50%;
	transform: translateX(-50%);
}

.play-again-btn:hover {
	cursor: pointer;
}