$mainFont: 'Arial';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: $mainFont;
}

body {
	background-color: #000;
}

#game-canvas-container {
	text-align: center;
	width: 1000px;
	height: 550px;
	position: relative;
	margin: auto;
	top: 10px;
}

#game-canvas {
	background-color: #000;
	position: absolute;
	left: 0;
	top: 0;
	border: 2px solid #fff;
}

#lag {
	position: absolute;
	right: 50px;
	top: 50px;
	font-weight: 700;
	font-size: 18px;
	color: #fff;
}