$mainFont: 'Arial';
$dark-gray: #888;
$bluish: #37c;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: $mainFont;
}

body {
    width: 100%;
    height: 100%;
}

#bgVideo {
	position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
}

.main-header {
	position: absolute;
	font-size: 60px;
	text-align: center;
	margin-top: 100px;
	width: 100%;
	color: white;
}

#login-form {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	input[type='text'] {
		padding: 7px;
		border-radius: 2px;
		border: 1px solid $dark-gray;
		font-size: 16px;
	}

	input[type='submit'] {
		padding: 8px 12px;
		border-radius: 4px;
		background-color: $bluish;
		color: white;
		border: none;
		font-size: 16px;
	}
}

#login-as-form {
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: none;

	.login-as-btn {
		padding: 8px 12px;
		border-radius: 4px;
		background-color: $bluish;
		color: white;
		border: none;
		font-size: 16px;

		&:hover {
			cursor: pointer;
		}
	}
}