$mainFont: 'Arial';
$dark-gray: #888;
$bluish: #37c;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: $mainFont;
}

body {
	padding: 40px 30px;
	background-color: #000;
}

.header {
	font-size: 20px;
	text-align: center;
	color: #fff;
}

.players-list {
	list-style-type: none;
	margin-top: 50px;
	padding-left: 50px;
	color: #fff;
	font-size: 18px;
	font-weight: 700;
	letter-spacing: 1px;

	li {
		width: 200px;
	}

	.player-rating {
		float: right;
	}
}

.countdown {
	color: #fff;
	font-size: 20px;
	margin-top: 100px;
	text-align: center;
	display: none;

	.countdown-seconds {
		font-size: 22px;
	}
}