<!DOCTYPE html>
<html>
	<head>
		<title>Pixel Legions</title>
		<link rel="stylesheet" href="dist/styles.css">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="js/home.js"></script>
	</head>
	<body>

		<div class="game-btns-container">
			<a href="waitingRoom">
				<button class="ffa-btn">
					<div class="caption">FFA</div>
				</button>
			</a>
			<a href="">
				<button class="team-btn">
					<div class="caption">Team</div>
				</button>
			</a>
		</div>

		<div class="statistics-btns-container">
			<button class="upgrades-btn btn-bluish">Upgrades</button>
			<a href="leaderboard">
				<button class="leaderboard-btn btn-bluish">Leaderboard</button>
			</a>
		</div>

		<div class="upgrades-bar">
			<div class="upgrades-bar-header">Upgrades</div>
			<div class="upgrades">
				{{#each upgradesArray}}
					<div class="upgrade" id={{this.id}}>
						<img src={{this.icon}}>
						{{#if_gt this.level 0}}
							<div class="upgrade-level">{{this.level}}</div>
						{{/if_gt}}
					</div>
				{{/each}}
			</div>
			<div class="upgrades-info">
				<div class="upgrade-name"></div>
				<div class="upgrade-icon">
					<img src="">
				</div>
				<div class="upgrade-description"></div>
				<div class="upgrade-cost"></div>

				<div class="buy-btn btn-bluish">BUY</div>
			</div>

			<div class="close">&#10514;</div>
		</div>

	</body>
</html>