<!DOCTYPE html>
<html>
	<head>
		<title>Pixel Legions</title>
		<link rel="stylesheet" href="dist/styles.css">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="js/home.js"></script>
	</head>
	<body>

		<div class="game-btns-container">
			<a href="waitingRoom">
				<button class="ffa-btn">
					<div class="caption">FFA</div>
				</button>
			</a>
			<a href="">
				<button class="team-btn">
					<div class="caption">Team</div>
				</button>
			</a>
		</div>

		<div class="statistics-btns-container">
			<button class="upgrades-btn">Upgrades</button>
			<a href="leaderboard">
				<button class="leaderboard-btn">Leaderboard</button>
			</a>
		</div>

		<div class="upgrades-bar">
			Upgrades
			<div class="upgrades">
				<div class="upgrade" id="legion-speed">&#10514;</div>
				<div class="upgrade" id="king-speed">&#10514;</div>
				<div class="upgrade" id="legion-hp">&#10514;</div>
				<div class="upgrade" id="king-hp">&#10514;</div>
				<div class="upgrade" id="spawn-rate">&#10514;</div>
				<div class="upgrade" id="legion-a">&#10514;</div>
				<div class="upgrade" id="legion-b">&#10514;</div>
				<div class="upgrade" id="legion-c">&#10514;</div>
				<div class="upgrade" id="legion-d">&#10514;</div>
				<div class="upgrade" id="legion-e">&#10514;</div>
			</div>

			<div class="close">&#10514;</div>
		</div>

	</body>
</html>