<!DOCTYPE html>
<html>
	<head>
		<title>Pixel Legions</title>
		<link rel="stylesheet" href="css/home.css">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="js/home.js"></script>
	</head>
	<body>

		<a href="leaderboard">
			<button class="leaderboard-btn">Leaderboard</button>
		</a>

		<div class="game-btns-container">
			<a href="waitingRoom">
				<button class="ffa-btn">FFA</button>
			</a>
			<a href="">
				<button class="team-btn">Team</button>
			</a>
		</div>

	</body>
</html>