<!DOCTYPE html>
<html>
	<head>
		<title>Pixel Legions</title>
		<link rel="stylesheet" href="css/home.css">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="js/home.js"></script>
	</head>
	<body>

		<div class="game-btns-container">
			<a href="waitingRoom">
				<button class="ffa-btn">
					<div class="caption">FFA</div>
				</button>
			</a>
			<a href="">
				<button class="team-btn">
					<div class="caption">Team</div>
				</button>
			</a>
		</div>

		<div class="statistics-btns-container">
			<a href="upgrades">
				<button class="upgrades-btn">Upgrades</button>
			</a>
			<a href="leaderboard">
				<button class="leaderboard-btn">Leaderboard</button>
			</a>
		</div>

	</body>
</html>