<!DOCTYPE html>
<html>
	<head>
		<title>Pixel Legions</title>
		<link rel="stylesheet" href="dist/styles.css">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="js/login.js"></script>
	</head>
	<body>
		<video autoplay muted loop id="bgVideo">
			<source src="assets/myVideo.mp4" type="video/mp4">
		</video>

		<h1 class="main-header">PIXEL LEGIONS</h1>

		<form id="login-form" action="/login" method="POST">
			<input type="text" class="name" name="name" placeholder="Name" maxlength="10" required>
			<input type="text" class="password" name="password" placeholder="Password" maxlength="10" required>
			<input type="submit" class="login-btn btn-bluish" value="Play">
		</form>

		<a href="register">
			<button class="register-btn-link btn-bluish">Register</button>
		</a>
	</body>
</html>