<!DOCTYPE html>
<html>
	<head>
		<title>Pixel Legions</title>
		<link rel="stylesheet" href="/dist/styles.css">
		<script src="/dist/main.js"></script>
	</head>
	<body>

		<div id="login-page" class="page">
			{{>login}}
		</div>

		<div id="register-page" class="page">
			{{>register}}
		</div>

		<div id="home-page" class="page">
			{{>home}}
		</div>

		<div id="waitingRoom-page" class="page">
			{{>waitingRoom}}
		</div>

		<div id="game-page" class="page">
			{{>game}}
		</div>

		<div id="leaderboard-page" class="page">
			{{>leaderboard}}
		</div>

		<div id="profile-page" class="page">
			{{>profile}}
		</div>

	</body>
</html>