<!DOCTYPE html>
<html>
	<head>
		<title>Pixel Legions</title>
		<link rel="stylesheet" href="/dist/styles.css">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="/js/login.js"></script>
	</head>
	<body>
		<h1 class="main-header">PIXEL LEGIONS</h1>

		<form id="register-form" action="/register" method="POST">
			<input type="text" class="name" name="name" placeholder="Name" maxlength="10" required>
			<input type="text" class="password" name="password" placeholder="Password" maxlength="10" required>
			<input type="submit" class="register-btn btn-bluish" value="Register">
		</form>

		<a href="login">
			<button class="login-btn-link btn-bluish">Login</button>
		</a>
	</body>
</html>