<!DOCTYPE html>
<html>
	<head>
		<title>Pixel Legions</title>
		<link rel="stylesheet" href="/dist/styles.css">
		<script src="/socket.io/socket.io.js"></script>
		<script src="/dist/bundle.js"></script>
	</head>
	<body>
		<h1 class="header">Wait for players to join...</h1>

		<ul class="players-list"></ul>

		<div class="countdown">Game starts in <span class="countdown-seconds"></span>...</div>
	</body>
</html>