<div id="game-canvas-container">
	<canvas id="game-canvas"></canvas>
</div>

<div id="lag"></div>

<div class="overlay"></div>

<div id="game-over-modal">
	<div class="place-sentence">You have finished on <span class="place"></span>. place</div>

	<ul class="ranking"></ul>

	<div class="rating-change"></div>
	<br>
	<div class="page-link play-again-btn btn-bluish" data-page="home">Play again</div>
</div>