<!--
<video autoplay muted loop id="bgVideo">
	<source src="assets/myVideo.mp4" type="video/mp4">
</video>

<h1 class="main-header">PIXEL LEGIONS</h1>
-->

<div class="notification registration-success"></div>

<div class="notification login-error"></div>

<form id="login-form" action="/login" method="POST">
	<input type="text" class="name" name="name" placeholder="Name" maxlength="10" required>
	<input type="text" class="password" name="password" placeholder="Password" maxlength="10" required>
	<input type="button" class="login-btn btn-bluish" value="Play">
</form>

<button class="btn register-btn-link btn-bluish" data-page="register">Register</button>