<div class="page-link home-btn" data-page="home"></div>

<div class="player-info-container">
	<div class="player-name"></div>
	<div class="player-country">
		<span class="flag-icon"></span>
		<div class="flag-name"></div>
	</div>
	<div class="player-rating"></div>
</div>

<div class="achievements"></div>