<h1 class="main-header">PIXEL LEGIONS</h1>

<div class="notification registration-error"></div>

<form id="register-form" action="/register" method="POST">
	<input type="text" class="name" name="name" placeholder="Name" maxlength="10" required>
	<input type="text" class="password" name="password" placeholder="Password" maxlength="10" required>
	<input type="hidden" class="country" name="country">
	<input type="button" class="register-btn btn-bluish" value="Register">
</form>

<button class="page-link login-btn-link btn-bluish" data-page="login">Login</button>